body{
    background-color: aqua;
}

#score
{
 font-size: 24px;
    margin-left: 20px;
    float:left;
}

#timer
{
    font-size: 24px;
    margin-right: 20px;
    float: right;
}

#sketch_to_be_drawn
{
    font-size: 24px; 
    color:red
}
#confidence
{
    font-size: 24px;
    font-weight: bold;
}

#your_sketch
{
    font-size: 24px;
    font-weight: bold;
}